/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --white: #fff;
    --black: #000;
    --border-gray: #d9d9d9;
    --border-filter: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

main {
    padding: 0 50px;
}

header {
    padding: 0px;
    margin-bottom: 30px;
}

footer {
    margin: 0 50px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/*************** Header *****************/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-img {
    width: 61.09px;
    height: 19px;
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.header-menu {
    display: flex;
    width: 328.601px;
    height: 35px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 68px;
    padding: 0px 25px;
}

.header-menu-button {
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 68px;
}

.header-menu-button-link {
    padding-top: 19px;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.header-menu-button-link-selected {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/*************** filter *****************/
.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
    margin-bottom: 35px;
}

.filter-title {
    display: flex;
    height: 53px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.filter-title-top {
    height: 22px;
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.filter-title-bottom {
    height: 16px;
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.filter-search {
    display: flex;
    width: 377px;
    height: 49px;
    align-items: center;
    gap: 24px;
    border-radius: 15px;
    border: 1px solid var(--filter-bg-color);
    background: var(--white);
}

.filter-search-img {
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--filter-bg-color);
}

.filter-search-img-i {
    border-radius: 15px;
}

.filter-search-input {
    padding: 0px 25px;
    border: none;
    outline: none;
    color: var(--Black, #000);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filter-search-button {
    display: flex;
    height: 49px;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
}

.filter-search-button-text {
    color: var(--white);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filter-filter {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 15px;
}

.filter-filter-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-filter-text {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.filter-filter-button {
    display: flex;
    height: 50px;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--border-gray);
}

.filter-filter-button-i {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-filter-button-text {
    color: var(--black);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.filter-filter-selected {
    background: var(--border-filter);
}

.filter-info {
    display: flex;
    height: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.filter-info-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--border-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-info-circle-i {
    width: 24px;
    height: 24px;
}

.filter-info-text {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    gap: 40px;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    padding: 30px;
}
.hebergements-title {
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.hebergements-cards {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.hebergements-cards-card {
    display: flex;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}
.hebergements-cards-card-img {
    height: 124px;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid var(--White, #fff);
    object-fit: cover;
}

.hebergements-cards-card-info {
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.hebergements-cards-card-info-title {
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.hebergements-cards-card-info-text {
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.hebergements-cards-card-info-text::after {
    content: "€";
    color: black;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.hebergements-cards-card-info-stars {
    display: flex;
    flex-direction: row;
    width: 81px;
    height: 13.25px;
}

.hebergements-more {
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************** activity ******************/

.activity {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.activity-title {
    height: 30.019px;
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.activity-cards {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.activity-cards-card {
    display: flex;
    height: 439px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 0;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.activity-cards-card-img {
    height: 380px;
    width: 100%;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activity-cards-card-box {
    display: flex;
    padding: 20px 19px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 0px 0px 20px 20px;
    background: var(--White, #fff);
}

.activity-cards-card-box-text {
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

/*************** footer *****************/

.footer {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: var(--Grey, #f2f2f2);
}

.footer-elems {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

.footer-elems-title {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.footer-elems-link {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
